* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(50, 50, 150);
    --secondary-color: white;
    --tertiary-color: rgb(11, 90, 121); 
    --final-color: rgb(15,24,57);
}
/* body style */

body {
    color: var(--secondary-color);
    font-family: "Franklin Gothic",Georgia, Helvetica, Arial, sans-serif;
}

.flexrow {
    display: flex;
}
/* Header and Footer styles */
header, footer {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    
}

header h1, footer h1 {
    font-weight: bold;
    font-size: 40px;
    margin:0;
    text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

header nav {
    margin: 7px 0;
}

header nav ul , footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a, footer ul li a, footer ul li{
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0,0,0,0.7);
    color: var(--secondary-color);
}

/* Hero Style */

.hero {
    background-image: url("../assets/Images/Developer\ Background.jpg");
    background-size: 10%;
    padding: 2.4vw;
}

.hero h2 {
    text-align: center;
    margin-top: 2.5vw;
    font-size: 12px;
}
.hero span{
    font-style: italic;
    font-size: 1.7vw;
}

/* About Me */

#About-me, #work {
    background-color: var(--final-color);
    border-top: white solid 2px;
}

.titles h3{
    font-size: 40px;
    margin: 20px;
}

#About-me img{
    width:200px;
    border: solid white 1px;
    margin: 20px;
}

.information {
    font-size: 20px;
    margin: 20px;
}

/* Work section */

.runbuddy {
    width: 200px;
    border: solid white 1px;
    margin: 20px;

}





